@CHARSET "UTF-8";

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

body {
	font: 80% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #000000;
}

a {
	outline: none;
	text-decoration: none
}

img {
	border: 0
}

h1 {
	margin: 0;
	padding: 0
}

h2 {
	margin: 0;
	padding: 0
}

h3 {
	margin: 0;
	padding: 0
}

ul {
	margin: 0;
	padding: 0
}

li {
	margin: 0;
	padding: 0
}

p {
	margin: 0;
	padding: 0
}

hr {
	border: 1px solid;
	border-color: #d3d3d3;
}

#header {
	width: 100%;
	margin: 0px auto;
	height: 99px;
}

#menu {
	width: 100%;
	margin: 0px auto;
	float: left;
	height: 55px;
	background-repeat: repeat-x;
	background-image: url("../img/top_grad.gif")
}

.header-menu {
	height: 62px;
	width: 955px;
	margin: 0px auto;
	background-color: blue;
}

.linkholder {
	width: 517px;
	float: left;
	font-size: 1.2em;
}

.dropdown-menu {
	position: relative;
	margin: 0px 0px 0px 5px;
	padding: 0px;
	list-style: none outside none;
}

.link {
	float: left;
	height: 55px;
}

ul.dropdown-menu li {
	color: rgb(255, 255, 255);
	float: left;
	font-weight: normal;
}

ul.dropdown-menu li a {
	float: left;
	display: block;
	text-decoration: none;
}

#header-menu .link a {
	float: left;
	padding: 22px 11px 0px;
	height: 33px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

#header-menu .linkholder {
	width: 517px;
	float: left;
	font-size: 1.2em
}

#header-menu .spacer {
	background-image: url("../img/top_spacer.gif");
	background-position: 0 -5px;
	float: left;
	width: 3px;
	height: 55px;
}

#header-menu .link {
	float: left;
	height: 55px
}

#header-menu .linkholder a:hover {
	background-image: url("../img/top_grad2.png");
	background-repeat: repeat-x
}

#header-menu .linkholder .cartimg {
	margin-top: -7px
}

.spacer {
	width: 100%;
	height: 14px;
	float: left;
}
#middle {
   width: 100%;
float: left;
margin: 0px auto;
}
.homepage {
    background-image: url("../img/middlegrad.gif");
    background-repeat: repeat-x;
    width: 100%;
    background-position: 0px -29px;
    margin: 0px auto;
}